#cart {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
#cart {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#cart .header{
	height: 80px;
	width: 70%;
	background-color: #009688;
	border-radius: 3px;
	margin: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;

}
#cart .header .logo{
	font-size: 30px;
	font-weight: bold;
	color: #fff;

}
#cart .cart {
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10px;
	border-radius: 5px;
	width: 100px;

}
#cart .fa-solid{
	color: #333;
}
#cart .cart p{
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 22px;
	background-color: #009688;
	color: #fff;
}
#cart .container{
	display: flex;
	width: 70%;
	margin-bottom: 30px;
}
#cart #root{
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
#cart .sidebar{
	width: 40%;
	border-radius: 5px;
	background-color: #666;
	margin-left: 20px;
	padding: 15px;
	text-align: center;
}
#cart .head{
	background-color: #009688;
	border-radius: 3px;
	height: 40px;
	padding: 10px;
	margin-bottom: 20px;
	color: #333;
	display: flex;
	align-items: center;
}
#cart .foot{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px 0px;
	padding: 10px 0px;
	border-top: 1px solid #fff;
}
#cart .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #009688;
	border-radius: 5px;
	padding: 15px;
}
#cart img-box{
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cart .images{
	max-width: 90%;
	max-height: 90%;
	object-fit: cover;
	object-position: center;
}
#cart .bottom{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 110px;
}
#cart h2{
	font-size: 20px;
	color: red;
}
#cart .button{
	width: 100%;
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: #009688;
	padding: 7px 25px;
	cursor: pointer;
	color: #fff;
}
#cart button:hover{
	background-color: blueviolet;
}